[Unit]
Description=update script that handles issue

[Service]
ExecStart=/bin/bash %h/update_issue.sh
Type=oneshot

[Install]
WantedBy=default.target

