[Unit]
Description=update script that handles issue

[Service]
User=root
ExecStart=/usr/bin/env bash /$HOME/update_issue.sh
Type=oneshot

[Install]
WantedBy=multi-user.target

